@font-face {
    font-family: 'Roboto';
    src: url('./fonts/Roboto-Regular.ttf') format('ttf'),
        url('./fonts/Roboto-Regular.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
  }

* {
    padding: 0px;
    margin: 0px;
}

body {
    display: grid;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

/* Header */
#header {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    grid-column: span 2;
    height: 12vh;
    z-index: 2;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

#headerLogo {
    width: 80px;
    height: 80px;
}

#headerTitle {
    color: white;
    font-size: 42px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Sidebar */
#sidebar {
    display: flex;
    flex-direction: column;
    background-color: darkslategray;
    width: 22vw;
    height: 88vh;
    z-index: 1;
    padding: 25px;
    gap: 25px;
    box-sizing: border-box;
}

.sidebarSection {
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: bold;
}

.sectionItem {
    display: flex;
    align-items: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-indent: 10px;
    height: 40px;
    transition: all .2s ease-out;
}

.sectionItem:hover {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-out;
}

/* Content General */
#content {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    width: 78vw;
    height: 88vh;
    z-index: 1;
}

#titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    width: 65vw;
    height: 50px;
    margin: 25px;
    margin-bottom: 10px;
}

#removeProjectBtn {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    transition: all .2s ease-out;
}

#removeProjectBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all .2s ease-out;
}

#listTitle {
    font-size: 36px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#addTaskBtn {
    display: block;
    width: 50px;
    height: 50px;
    margin-left: auto;
    transition: all .2s ease-out;
}

#addTaskBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all .2s ease-out;
}

#line {
    align-self: center;
    background: black;
    width: 70vw;
    height: 4px;
    border-radius: 50px;
}

#allTasksContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin: 25px 50px 25px 50px;
    gap: 15px;
    overflow: auto;
}

#addTaskMsg{
    font-size: 25px;
    color: darkgray;
}

.taskContainer {
    display: grid;
    grid-template-columns: 88% 1fr 1fr;
    grid-template-rows: 50% 50%;
    align-items: flex-start;
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    width: 700px;
    overflow: hidden;
}

.dateContainer {
    display: flex;
    align-self: flex-start;
    grid-column: span 3;
    margin-bottom: 0px;
    background-color: darkslategray;
}

.taskDate {
    margin: 5px;
    margin-left: 10px;
}

.taskDesc {
    display: inline-block;
    text-align: left;
    min-height: 22.5px;
    max-height: 75px;
    resize: vertical;
    overflow-y: auto;
    overflow-x: hidden;
    word-wrap: break-word;
    margin: 10px 10px 10px 10px;
}

.taskBtns {
    display: flex;
    align-self: center;
    width: 30px;
    height: 30px;
    filter: invert(100%);
    transition: all .2s ease-out;
}

.taskBtns:hover {
    transform: scale(1.1);
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all .2s ease-out;
}

/* Modal */
#modalContainer {
    display: none;
    position: fixed;
    z-index: 3;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

#modalContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
    margin: auto;
    border: 1px solid #888;
    width: 30%;
    border-radius: 10px;
    overflow: hidden;
}

#modalHeader {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    background-color: darkslategray;
    font-size: 30px;
    color: white;
}

#actionName {
    margin-left: 10px;
    font-size: 20px;
}

#closeModal {
    margin-right: 10px;
    cursor: pointer;
    margin-left: auto;
    font-size: 30px;
}

#modalInputContainer {
    display: grid;
    grid-template-columns: 1fr;
    padding: 20px;
}

#textLabel, #dateLabel {

}

#textInput, #dateInput {
    margin-bottom: 10px;
    border: 1px solid silver;
    border-radius: 10px;
}

#textInput[type=textInput], #dateInput[type=date] {
    padding: 5px;
  }

#submitBtn {
    display: flex;
    justify-self: flex-end;
    width: 50px;
    background-color: darkslategray;
    color: white;
    border-radius: 10px;
    border: 1px solid #787878;
    padding: 5px;
    width: auto;
    transition: all .2s ease-out;
}

#submitBtn:hover {
    transform: scale(1.025);
    cursor: pointer;
    transform-origin: 50% 50%;
    transition: all .2s ease-out;
}